@import "@styles/mixins.module.scss";
@import "@styles/variable.module.scss";
.container {
  padding: 30px 20px 0 20px;
  .title {
    @include flex_box_custom(center, center, 10px);
    font-size: 17px;
    color: $four_color;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 30px;
  }
  .boxRememberMe {
    margin-bottom: 30px;

    input {
      margin-right: 10px;
    }

    span {
      font-size: 14px;
    }
  }
   .lostPw {
        margin-top: 20px;
        text-align: center;
        font-size: 14px;

        &:hover {
            cursor: pointer;
        }
    }
}
