@import "@styles/mixins.module.scss";
@import "@styles/variable.module.scss";

.container {
  margin: 65px 0px 15px;
  @include flex_box_custom(center, center, 0px);
}
.headline {
  height: 2px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  width: 100%;
  margin-top: 30px;
}
.containerMiddleBox {
  @include flex_box_custom(center, center, 0px);
  flex-direction: column;
  padding: 0 40px;
  width: 60%;
  line-height: 0px;
}
.des {
  text-transform: uppercase;
  font-size: 14px;
  color: $thr_color;
}
.title {
  font-size: 24px;
  color: $primary_color;
}
