@import "@styles/mixins.module.scss";
@import "@styles/variable.module.scss";
.container {
  .boxLabel {
    font-size: 14px;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    color: $four_color;
  }
  .boxInput {
    width: 100%;
    position: relative;
    input {
      width: 100%;
      border: 1px solid #e1e1e1;
      outline: none;
      padding: 10px 0 10px 10px;
      margin-bottom: 10px;
    }
  }
  .boxIcon {
    position: absolute;
    top: 12px;
    right: 0;
    cursor: pointer;
  }
  .errMess {
    font-size: 12px;
    color: red;
  }
}
