@import "@styles/mixins.module.scss";
@import "@styles/variable.module.scss";

.container {
  @include flex_box_custom(center, center, 0px);
  background-image: url(../../assets//images/02-SLIDESHOW-1.jpeg);
  background-color: #e9e6e3;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 750px;
}
.content {
  @include flex_box_custom(center, center, 10px);
  flex-direction: column;
}
.title {
  color: $four_color;
  font-size: 42px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 52px;
  margin: 15px 0;
}
.description {
  color: $thr_color;
  font-weight: 400;
  margin-bottom: 20px;
}
